<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3325.1758" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3325.1758" targetFramework="net461" />
  <package id="CefSharp.Common" version="65.0.1" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="65.0.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net452" />
</packages>